# Laravel
/vendor/
/node_modules/
/.env
/.env.backup
/.env.production
/public/hot
/public/storage
/storage/*.key
/storage/app/
/storage/framework/
/storage/logs/
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Bootstrap cache
/bootstrap/cache/*.php

# Frontend
/frontend/node_modules/
/frontend/dist/
/public/app/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
